<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" href="images/favicon.ico">
    <title>World's Largest Professional Network | LinkedIn</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
 <!-- Custom CSS -->
    <link href="/stylesheets/sign-up.css" rel="stylesheet">
   <script src="/angular_js/angular.min.js"></script>

    <!-- Custom Fonts -->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="login" ng-controller="loginController">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <img src="images/logo.png" alt="#">
				</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse"  >
          <!--   <form role="form" Method="post" action="/home" name="myForm" > -->
          <form role="form"  name="myForm" Method="post" action="/"> 
                   <ul class="nav navbar-nav navbar-right">
                    <li>
					<label class="label-email">Email address</label>
                        <div>
							<span class="error" id="signup_error"></span>
							<input type="email" name="email" ng-model="email"  class="form-control" id="signup_uname" tabindex="1" required size="28" />
						</div>
                    </li>
                    <li>
						<label class="label-pwd">Password</label>
						<span class="forgot-pwd"><a tabindex="4">Forgot your password?</a></span>
                        <div>
							<span class="error" id="signup_error"></span>
							<input type="password" name="pswd" ng-model="pswd"  class="form-control"" required id="signup_pwd" tabindex="2" size="28" />
						</div>
                    </li>    
					<li>
					<input type="submit" name="signin"  value="Sign In" id="signin" class="btn btn-default btn-xs" disabled  tabindex="3"  ng-disabled="myForm.email.$dirty && myForm.email.$invalid || myForm.pswd.$dirty && myForm.pswd.$invalid">										
					</li>
                       
                </ul>
                
            </div>
            </form>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


       <!-- /.container -->
    <div class="container">
		<% if(typeof error!='undefined'){%>
		<div id="global-error">
			<div role="alert" class="alert alert-danger" >
				<p><strong><%=error%></strong></p>
			</div>
		</div>
		<%}%>
		
		<div id="erroralert" style="display:none;" class="alert alert-danger">								
                                    <p id="error" >Error:</p>
                                    <span></span>
                                </div> 
        <!-- Portfolio Section -->
        <div class="row" >
            <div class="col-lg-12">
                <h2 class="page-header" id="page-header">Connect, share ideas, and discover opportunities.</h2>
            </div>
		</div>
		
		 <div class="row" id="middle-row">            
                  <div class="first-col">  
						<div class="img-grid">
							<img src="images/Pic.jpg" alt="Profile Picture" />
							<img src="images/mercure-teresa.jpg" alt="Profile Picture" />
							<img src="images/shim-simon.jpg" alt="Profile Picture" />	
							<img src="images/parrish-vicki.jpg" alt="Profile Picture" />						
							<img src="images/harkey-dan.jpg" alt="Profile Picture" />						
							<img src="images/hung-donald.jpg" alt="Profile Picture" />
						</div>
				  </div>
					
				  <div class="second-col">  
						<div>
						<h2 class="header">Get started - it's free.</h2>
						</div>
						<form  ng-submit="signup()">
						<div class="form-grid">
							<p>Registration takes less than 2 minutes.</p>
							<fieldset>
							     	
							<ul>
							<li id="firstname">
								<label style="display: none;">First name</label>
								<input type="text" class="form-control" name="firstname" ng-model="firstname" value="" required autocomplete="on" size="55" maxlength="20" tabindex="5" placeholder="First name">
							</li>
							<li id="lastname">
								<label style="display: none;">Last name</label>
								<input type="text" class="form-control" name="lastname" ng-model="lastname" value="" required autocomplete="on" size="55" maxlength="20" tabindex="5" placeholder="Last name">
							</li>
						
							<li id="email-address">
								<label style="display: none;">Email address</label>
								<input type="email" class="form-control" name="emailid" ng-model="emailid" value="" required autocomplete="on" size="55" maxlength="128" tabindex="7" data-ime-mode-disabled="" placeholder="Email address">
							</li>
							
							<li id="password">
								<label style="display: none;">password</label>
								<input type="password" class="form-control" name="password" ng-model="password" value="" required  autocomplete="on" size="55" maxlength="128" tabindex="7" data-ime-mode-disabled="" placeholder="Password (6 or more characters)">
							</li>
							
							</ul>
							
							<div class="form-bottom-row">
								<p class="policy">By clicking Join Now, you agree to SJSU LinkedIn's User Agreement, Privacy Policy and Cookie Policy.</p>
								<input name=""   id="btn-join"  value="Join now" class="btn btn-default btn-md" tabindex="9" type="submit">
							</div>
							</fieldset>
						</div> 	
						</form>
						<div class="form-group" style="display:none" id="success">   
              				        <div class="alert alert-success " style="width:350px;">
              				        <!-- <button type="button" class="close" data-dismiss="alert" 
              				           									   aria-hidden="true"> &times;</button> -->
              				        Successfully signed up.</div>
              				  </div>
				  </div>
		</div>
		
        <!-- /.row -->

      

    </div>


	<div class="signup-footer">
		<div class="search-browse">
			<div class="search" id="search">				
				<div class="label-header">
				<p>Find a Colleague: </p>		
				</div>	
				<div class="fields">				
					<ul>
					<li id="search-firstname">
						<input type="text" name="first" id="first" class="form-control" size="185" placeholder="First name">
					</li>					
					<li id="search-lastname">
						<input type="text" name="last" id="last" class="form-control" size="185" placeholder="Last name">
					</li>	
					<li id="search-button">
						<input class="btn btn-default btn-sm" id="btn-search" type="submit" name="search" value="Search">
					</li>
					</ul>
				</div>
				</div>
			</div>	
		 
        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">	
					<ul class="nav-legal">
					<li><a>Sign Up</a> </li>
					<li><a>About</a> </li>
					<li><a>Academics</a> </li>
					<li><a>Students</a> </li>
					<li><a>Faculty & Staff</a> </li>
					</ul>
                   <p class="em-class"><span class="footer-image"></span> <em> &copy; SJSU CMPE 273 - 2015</em></p>               
            </div>
        </footer>
	</div>
	
	
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="scripts/bootstrap.min.js"></script>

   <script>

	   var app = angular.module('login', []);
    app.controller("loginController", function($scope,$http) {				
	  				
	  			/* $scope.signIn = function() {
	  			
	  				var email=$scope.email;
		   			var pwd=$scope.pswd;		   				  			
	    				$http({
	            				method: 'POST',
	            				url: '/',
	            				data: { "email": email, "password": pwd }
								 })
						.success(function(response){
						alert();	           
			            		if(response.error!=undefined)
			         				{	         				
			         				document.getElementById("error").innerHTML = response.error;
			         				document.getElementById('erroralert').style.display = "block";
			         				}	         				
	        		     })
	        			.error(function(error){
	            
	        			 });	        		
	        	       			
	  			 };	 */	
	  				
	  				
	  			$scope.signup = function(e) {
	  				
					var fname= $scope.firstname,lname= $scope.lastname,email=$scope.emailid,pswd=$scope.password;	  			
	    				$http({
	            				method: 'POST',
	            				url: '/signup',
	            				data: { "firstname":fname,"lastname": lname,"emailid": email, "password": pswd }
								 })
						.success(function(response){	 
						          
	            			if(response.msg!=undefined)
	         				{	         				
	         				document.getElementById('success').style.display = "block";
	         				$("#erroralert").hide();
	         				$("#global-error").hide();
	         				clearData();
	         				}
	         				else{		         				  
	         				$("#success").hide();  
	         				$("#global-error").hide();         				         							  						
	         				document.getElementById("error").innerHTML = response;
	         				document.getElementById('erroralert').style.display = "block";
	         				}
	         				
	        			})
	        			.error(function(error){
	        				$("#success").hide(); 
	        				$("#global-error").hide();
	        			//	clearData(); 
	            			document.getElementById("error").innerHTML = error;
	            			document.getElementById('erroralert').style.display = "block";
	        			 });	        		
	        	       			
	  			 };		
	  			 
	  			function clearData()
	  			 {
	  			$scope.firstname="";
	  			$scope.lastname="";	
				$scope.emailid="";
				$scope.password="";		
	  			 }		
	  });
	  
	  
   </script>

</body>

</html>
